<game-room [roomService]="roomService" [roomId]="roomId()">
    @if (roomService.gameState(); as state) {
        <div class="flex-container gap-3">
            @if (isGameMaster()) {
                <div>You are the game master!</div>
            } @else {
                <div><span class="bold-text">{{ state.gameMaster.username }}</span> is the game master!</div>
            }

            @if (currentRound(); as round) {
                @switch (round.phase) {
                    @case (RoundPhase.PROMPTING) {
                        <div>{{round.prompts.length}} / {{state.room.members.length}}</div>
                        @if(!roomService.userState()?.submittedPrompt) {
                            <textarea [(ngModel)]="promptText" class="prompt-input" placeholder="Enter prompt"></textarea>

                            <button class="btn btn-primary" (click)="submitPrompt()" [disabled]="promptText().length === 0">Submit</button>
                        } @else {
                            <div>Your prompt was submitted!</div>
                        }

                        @if(isGameMaster() && round.prompts.length >= state.room.members.length) {
                            <button class="btn btn-primary" (click)="showPrompts()">Show Prompts</button>
                        }
                    }
                    @case (RoundPhase.GUESSING) {
                        <div class="flex-container gap-1">
                            @for(prompt of round.prompts;track prompt.message) {
                                <div class="prompt-display gap-1">
                                    <div class="prompt-text">
                                        <span class="fw-bold">{{$index + 1}}.</span>
                                        <span>{{ prompt.message }}</span>
                                    </div>
                                </div>
                            }
                        </div>

                        @if(isGameMaster()) {
                            <button class="btn btn-primary" (click)="revealResults()">Reveal Results</button>
                        }
                    }
                    @case (RoundPhase.REVEAL) {
                        <div class="flex-container gap-1">
                            @for(prompt of round.prompts;track prompt.message) {
                                <div class="prompt-display gap-1" [class.correct]="prompt.author.username === state.gameMaster.username">
                                    <div class="prompt-text">
                                        <span class="fw-bold">{{$index + 1}}.</span>
                                        <span>{{ prompt.message }}</span>
                                    </div>

                                    <div class="prompt-meta">
                                        <div>{{ getDuration(prompt.createdAt, round.startedAt) }}</div>
                                        <div class="fw-bold">{{ prompt.author.username }}</div>
                                    </div>
                                </div>
                            }
                        </div>

                        @if(isGameMaster()) {
                            <button class="btn btn-primary" (click)="finishRound()">Finish Round</button>
                        }
                    }
                }
            } @else {
                @if (isGameMaster()) {
                    <button class="btn btn-primary" (click)="startRound()">Start</button>
                }
            }
        </div>
    }
</game-room>





