.text-truncate-clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.score-cell {
    position: relative;
}

.closed {
    text-decoration: underline;
}

.out-in-one {
    position: absolute;
    top: 20%;
    line-height: 1;
}

.table {
    table-layout: fixed;
}