<ng-template #roundPopup let-formId="formId">
  <form [formGroup]="saveForm" [id]="formId" novalidate class="main-flex">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center w-25">Team</th>
          <th scope="col" class="text-center w-25">Score</th>
          <th scope="col" class="text-center w-25">Closed</th>
          <th scope="col" class="text-center w-25">Out In One</th>
        </tr>
      </thead>
      <tbody>
        @for (team of teams(); track team; let i = $index) {
          <tr [formGroupName]="team.name">
            <td><input type="text" disabled class="form-control" [value]="team.name"></td>
            <td><input type="number" class="form-control" formControlName="score"></td>
            <td><input type="checkbox" class="form-check" formControlName="hasClosed"></td>
            <td><input type="checkbox" class="form-check" formControlName="outInOne"></td>
          </tr>
        }
      </tbody>
    </table>

    @if (!rounds()) {
      <app-file-upload (fileChangedEvent)="fileUpload.set($event)"/>
    }
  </form>
  @if (fileUpload().getFileUrl(); as url) {
    <div class="image-container">
      <img [src]="url" alt="" width="300" height="300" class="image">
    </div>
  }
</ng-template>
