@import "./stats.css";
@import "./config.css";
@import "./material.css";

.table {
    text-align: center;
}

.main-header {
    padding: 1rem 2rem;
}

.main-container {
    margin: 0 auto;
    padding: 0 3.5rem 3rem 3.5rem;
    max-width: 1100px;
}

.highlighted-container {
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

    padding: 1rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;

    gap: 0.7rem;
}

.light-bold {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.success-color {
    color: #198754;
}

.default-color {
    color: #0d6efd;
}

.danger-color {
    color: #dc3545;
}

.small-btn {
    background-color: white;
    color: rgba(0, 0, 0, 0.3);

    border: solid 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    height: 30px;

    font-weight: bold;
    font-size: 1rem;
}

.small-btn:disabled {
    background-color: #f0f0f0;
    color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
    opacity: 0.6;
}

.small-btn:not(:disabled):hover {
    border-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media(max-width: 600px) {
    .main-container {
        padding: 0 2rem 3rem 2rem;
    }

    .main-header {
        padding: 1rem;
    }
}

/** ng-gallery styles **/
.g-slider {
    background-color: #fff !important;
}

.g-image-item  {
    background-color: #e0e0e0 !important;
}