.search-form {
    width: 100%;
    max-width: 500px;
    justify-self: center;
}

.search-input-group {
    display: flex;
    justify-content: center;
}

.search-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button {
    border: 1px solid #ced4da;
}

.filter-button {
    z-index: 10;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-select {
    height: auto;
}

::ng-deep .wide-popover {
    width: fit-content;
    max-width: none !important;
}
