<ng-template #loginPopup let-formId="formId">
    <form [formGroup]="loginForm" [id]="formId" novalidate class="form-container">
        <div class="row">
            <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <input id="username" formControlName="username" class="form-control" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input id="password" formControlName="password" class="form-control" type="password">
            </div>
        </div>
    </form>
</ng-template>
