@if (gameState(); as state) {
    <game-session-game [sessionService]="catanService"
                       [gameState]="state"
    >
        <div class="main-container">
            <div>
                <section class="game-container">
                    <div class="players-container">
                        <ol>
                            @for (team of state.gameConfig.teams; track team.name; let i = $index) {
                                <li [id]="(i === state.currentPlayerTurn) ? 'current-player' : ''">{{ team.name }}</li>
                            }
                        </ol>
                    </div>
                    <div class="dice-container">
                        <div class="card-info">
                            @if (state.gameConfig.classicDice.isBalanced && state.classicCards) {
                                <h3
                                        class="dice-header card-info-text">{{ state.classicCards.length }} /
                                    36</h3>
                            }
                            @if (state.gameConfig.eventDice.isBalanced && state.eventCards) {
                                <h3
                                        class="dice-header card-info-text">{{ state.eventCards.length }} /
                                    6</h3>
                            }
                        </div>
                        <button (click)="rollDice()" id="roll-button">Dice</button>
                        @if (state.gameConfig.gameMode === GameMode.CITIES_AND_KNIGHTS) {
                            <button (click)="rollDice(true)"
                                    id="alchemist-button" class="small-btn">Alchemist
                            </button>
                        }
                    </div>
                    <div class="ship-actions">
                        <div class="ship-container">
                            <div class="current-roll">
                                <div id="current-roll-player">
                                    {{ lastPlayer()?.name ?? '-' }}
                                </div>
                                <b class="spacer">
                                    |
                                </b>
                                <catan-dice-roll class="flex-container" [gameMode]="state.gameConfig.gameMode"
                                                 [diceRoll]="currentRoll()"/>
                            </div>
                            @if (state.gameConfig.gameMode === GameMode.CITIES_AND_KNIGHTS) {
                                <div class="ship-display">
                                    @for (_ of [].constructor(state.gameConfig.maxShipTurns); track $index; let i = $index) {
                                        @if (i === state.currentShipTurn) {
                                            <img class="ship-tile-current"
                                                 src="../../../../../assets/catan/e_2b.svg" alt="">
                                        } @else {
                                            <div [ngClass]="i === state.gameConfig.maxShipTurns - 1 ? 'ship-tile-last attack' : 'ship-tile attack'">
                                                {{ state.currentShipTurn === state.gameConfig.maxShipTurns - 1 ? attackText[i] : '' }}
                                            </div>
                                        }
                                    }
                                </div>
                            }
                            @if (state.gameConfig.classicDice.useEvents) {
                                <div class="current-roll-event">
                                    {{ currentRoll()?.dicePair?.event }}
                                </div>
                            }
                        </div>
                        <button class="small-btn" id="undo-button" (click)="undoRoll()"
                                [disabled]="state.diceRolls.length === 0">Undo
                        </button>
                    </div>
                </section>
                <div class="game-actions">
                    <button class="small-btn" (click)="toggleChart()">History</button>
                </div>
            </div>
            <div style="margin: 15rem auto 0 auto">
                <catan-histogram [isVisible]="showChart()" [diceRolls]="state.diceRolls"
                                 [gameMode]="state.gameConfig.gameMode"/>
            </div>
        </div>
    </game-session-game>
}