<ng-template #duelSavePopup let-formId="formId">
    <form [formGroup]="saveForm" [id]="formId" novalidate class="main-flex">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="w-25"><i class="bi bi-tags"></i></th>
                @for (team of teams(); track team.name) {
                    <th scope="col" class="text-center w-auto">{{ team.name }}</th>
                }
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><i class="bi bi-file-fill blue"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="blueCardScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-file-fill green"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="greenCardScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-file-fill yellow"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="yellowCardScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-file-fill purple"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="purpleCardScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-triangle-half yellow"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="wonderScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-flask green"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="developmentScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-coin yellow"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="coinScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td><i class="bi bi-shield-shaded red"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="warScore"></td>
                    </ng-container>
                }
            </tr>

            <tr>
                <td class="fw-bold"><i class="bi bi-calculator"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td><input type="number" class="form-control" formControlName="score" readonly></td>
                    </ng-container>
                }
            </tr>

            <tr class="table-danger">
                <td class="border-0"><i class="bi bi-award red"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td class="text-center border-0" style="min-height: 38px;"><input type="checkbox" class="form-check-input"formControlName="wonWithWar"></td>
                    </ng-container>
                }
            </tr>
            <tr class="table-success">
                <td class="border-0"><i class="bi bi-award green"></i></td>
                @for (team of teams(); track team.name) {
                    <ng-container [formGroupName]="team.name">
                        <td class="text-center border-0" style="min-height: 38px;"><input type="checkbox"  class="form-check-input" formControlName="wonWithDevelopment"></td>
                    </ng-container>
                }
            </tr>
            </tbody>
        </table>

        <app-file-upload (fileChangedEvent)="fileUpload.set($event)"/>
    </form>
    @if (fileUpload().getFileUrl(); as url) {
        <div class="image-container">
            <img [src]="url" alt="" width="300" height="300" class="image">
        </div>
    }
</ng-template>
