@if (isVisible()) {
    <section class="chart-container">
        <div class="histogram-container">
            <canvas baseChart
                    [data]="classicDiceChart.data"
                    [options]="classicDiceChart.options">
            </canvas>
        </div>

        <div class="sub-chart-container">
            @if (gameMode() === GameMode.CITIES_AND_KNIGHTS || gameMode() === null) {
                <div class="histogram-container small-container">
                    <canvas baseChart
                            [data]="eventDiceChart.data"
                            [options]="eventDiceChart.options"
                            [plugins]="eventDiceChart.plugins">
                    </canvas>
                </div>
            }

            @if (gameMode() !== null) {
                <div class="histogram-container small-container">
                    <canvas baseChart
                            [data]="moveTimeChart.data"
                            [options]="moveTimeChart.options">
                    </canvas>
                </div>
            }
        </div>
    </section>
}
