<section class="chart-container" [hidden]="!isVisible()">
  <div class="histogram-container">
    <canvas baseChart
      [data]="ClassicDiceChart.data"
      [options]="ClassicDiceChart.options">
    </canvas>
  </div>

  <div class="sub-chart-container">
    @if (gameMode() === GameMode.CITIES_AND_KNIGHTS || gameMode() === null) {
      <div class="histogram-container small-container">
        <canvas baseChart
          [data]="EventDiceChart.data"
          [options]="EventDiceChart.options"
          [plugins]="EventDiceChart.plugins">
        </canvas>
      </div>
    }

    @if (gameMode() !== null) {
      <div class="histogram-container small-container">
        <canvas baseChart
          [data]="MoveTimeChart.data"
          [options]="MoveTimeChart.options">
        </canvas>
      </div>
    }
  </div>
</section>
