.header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;

    padding: 0 1rem 1rem 1rem;
}

.info-container {
    display: grid;
    grid-template-columns: 40fr 60fr;

    gap: 2rem;
}

.default-info {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    gap: 1rem;
}

.game-image {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
}


.meta-item {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 992px) {
    .info-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;

        gap: 4rem;
    }

    .default-info {
        align-items: center;
    }
}