<div class="histogram-container">
    <div class="flex-container button-container">
        @if (canReplay()) {
            <button class="small-btn" (click)="toggleReplay()">
                @if (isPlaying()) {
                    <i class="bi bi-pause-fill"></i>
                } @else {
                    <i class="bi bi-play-fill"></i>
                }
            </button>
        }
    </div>

    <canvas baseChart
            [data]="chartInstance().data"
            [options]="chartInstance().options">
    </canvas>
</div>