.histogram-container {
    position: relative;

    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.1);

    max-width: 1100px;
    height: 400px;
}

.button-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    margin: 0.2rem;
}