.histogram-container {
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.1);

    max-width: 1100px;
    height: 400px;
}

.button-container {
    width: fit-content;
    justify-content: end;
    align-items: end;
}