:host {
    --checkbox-height: 30px;
    --checkbox-width: 50px;
    /*--checkbox-width: calc(var(--checkbox-height) * 2);*/
    --knob-bg-color: rgb(13, 110, 253);
    --knob-text-color: white;

    /*Is set dynamically in component*/
    --checkbox-label: '';
}

.slider-checkbox {
    position: relative;
    width: var(--checkbox-width);
    height: var(--checkbox-height);
    margin: auto;

    background-color: white;
    border: solid 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.slider-checkbox:hover {
    border-color: rgba(0, 0, 0, 0.5);
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.slider-checkbox .knobs:before {
    content: var(--checkbox-label);

    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 7px;

    height: calc(var(--checkbox-height) - 9px);
    line-height: calc(var(--checkbox-height) - 9px);
    width: calc(var(--checkbox-width) / 2.2);

    background-color: var(--knob-bg-color);
    opacity: 0.6;
    color: var(--knob-text-color);

    font-size: 13px;
    font-weight: bold;
    text-align: center;

    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.slider-checkbox .checkbox:checked + .knobs:before {
    left: calc(var(--checkbox-width) / 2.0 - 4px);
    background-color: var(--knob-bg-color);
    opacity: 0.8;
}

.slider-checkbox .knobs,
.slider-checkbox .knobs:before {
    transition: 0.3s ease all;
}