<div class="highlighted-container pan-container"
     (mousedown)="startPan($event)"
     (mousemove)="pan($event)"
     (mouseup)="endPan()"
     (mouseleave)="endPan()"
     (touchstart)="touchStart($event)"
     (touchmove)="touchMove($event)"
     (touchcancel)="endPan()"
     (touchend)="endPan()"
     (wheel)="scroll($event)"
>
    <div class="pan-actions">
        <button class="small-btn" (click)="reset()">
            <i class="bi bi-crosshair"></i>
        </button>
        <button class="small-btn" (click)="rotate()">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </div>
    <div [ngStyle]="transformStyle()" class="pan-content">
        <ng-content></ng-content>
    </div>
</div>
