<app-main-header></app-main-header>

<div class="main-container">
    <form class="main-container" [formGroup]="configForm" (ngSubmit)="startSimulation()">
        <div class="config-container">
            <div class="config-grid-container">
                <div class="config-header">Settings</div>

                <div class="flex-container input-main-container">
                    <div class="input-grid">
                        <label for="attackers">Attackers</label>
                        <input id="attackers" class="custom-input-lg" type="number" min="1" formControlName="attackers">
                        <label for="defenders">Defenders</label>
                        <input id="defenders" class="custom-input-lg" type="number" min="1" formControlName="defenders">
                        <label for="runs">Runs</label>
                        <input class="custom-input-lg" id="runs" type="number" min="1" max="1_000_000"
                               formControlName="runs">
                    </div>

                    <button class="btn btn-primary" type="submit">Run</button>
                </div>
            </div>
        </div>
    </form>

    <risk-histogram [dataEntries]="data()"/>
</div>