.game-container {
    display: grid;
    grid-template-columns: 200px 1fr;


    height: 600px;
    width: 1000px;
    gap: 2rem;
}

@media (max-width: 780px) {
    .game-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        gap: 3rem;

        width: 100%;
        height: 1000px;
    }
}

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.node {
    position: absolute;
    background-color: white;

    text-align: center;
    vertical-align: middle;

    border-radius: 50%;
    border: 1px solid black;
}

.node-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 14px;
}

.edge.taxi {
    stroke: #f7ad2d;
}
.edge.bus {
    stroke: #24ab6a;
}
.edge.metro {
    stroke: #FF00FF;
}

.config {
    display: flex;

    flex-direction: column;
    gap: 2rem;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.position-input {
    width: 100%;
}

.transport-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 2rem;
}

.moves-container {
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    flex-grow: 1;
    overflow-y: auto;
}

.move-config {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.move-select {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.move {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;

    font-size: 1.2rem;
    text-align: center;

    padding: 0.5rem;
}

.taxi {
    background-color: #f7ad2d;
}
.bus {
    background-color: #24ab6a;
}
.metro {
    background-color: #FF00FF;
}
.all {
    background-color: black;
    color: white;
}