<div class="modal-header">
  <h4 class="modal-title">{{ title() }}</h4>
</div>
<div class="modal-body">
  <ng-container *ngTemplateOutlet="bodyTemplate(); context: {formId: formId()}"></ng-container>
</div>
<div class="modal-footer dialog-actions">
  <button type="button" class="btn btn-outline-secondary" (click)="cancel()">{{ cancelText() }}</button>

  <div class="dialog-main-actions">
    @if (discardText() !== null) {
      <button type="button" class="btn btn-outline-danger"
        (click)="discard()">{{ discardText() }}
      </button>
    }
    <button [disabled]="!valid" [attr.form]="formId()" type="submit" class="btn btn-primary" (click)="submit()">{{ submitText() }}</button>
  </div>
</div>