<div class="flex-container align-items-start">
  <!--<app-slider-checkbox [isChecked]="editMode"
  (checkedEvent)="changeEditMode($event)"
  />-->
  <!--TODO: update to slider checkbox again-->
  <input type="checkbox" [checked]="editMode" (change)="changeEditMode($event)">
</div>
<div class="highlighted-container stack-container">
  @for (stackTile of stack(); track $index; let i = $index) {
    <qwirkle-tile
      [isDisabled]="stackTile.count === 0"
      [tile]="stackTile.tile"
      [tileText]="stackTile.count"
      (click)="selectTile(i)"
      [class.selected]="selected.includes(stackTile.tile)"
    ></qwirkle-tile>
  }
</div>