<div>
    @let met = metric();
    <game-stats-meta [label]="'Min ' + label()">
        @if(met.min.gameId) {
            <a [routerLink]="['/games', met.min.gameId]">{{ transformValue(met.min.value) }}</a>
        } @else {
            <div>{{transformValue(met.min.value)}}</div>
        }
    </game-stats-meta>

    <game-stats-meta [label]="'Max ' + label()">
        @if(met.max.gameId) {
            <a [routerLink]="['/games', met.max.gameId]">{{ transformValue(met.max.value) }}</a>
        } @else {
            <div>{{transformValue(met.max.value)}}</div>
        }
    </game-stats-meta>

    <game-stats-meta [label]="'Avg ' + label()">
        <div>{{transformValue(met.avg)}}</div>
    </game-stats-meta>

    <game-stats-meta [label]="'Median ' + label()">
        <div>{{transformValue(met.median)}}</div>
    </game-stats-meta>
</div>
